$light: #fcfaf8;
$min-contrast-ratio: 2;

$color-contrast-dark: #1a1e23;
$color-contrast-light: #fcfaf8;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "sunlight": #fdede0,
    "bark": #1a1e23,
    "oak": #ff9780,
    "purple": #4727ff,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// @use "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";